.container {
    height: 50vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_img {
    width: 200px;
    height: 200px;
}
.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.education {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* gap: 20px; */
    background-color: wheat;
}