.container {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    width: 100%;
    aspect-ratio: 1;
}

.box img {
    display: block;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    /* aspect-ratio: 1; */
}
.instaGrid {
    max-width: 935px;
    width: 100%;
    margin: 0 auto;
    /* background-color: antiquewhite; */
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}

.title_area {
    max-width: 935px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.title_area .text {
    align-self:last baseline;
}

.inline_block {
    display: inline-block;
    overflow: hidden;
}