.container {
    background-color: beige;
    display: flex;
    margin: 0 auto;
    width: 90%;
}

.slide_image {
    display: block;
    width: 100%;
    height: 85vh;
    object-fit: cover;
}

@media screen and (max-width: 800px) {
    .slide_image {
        display: block;
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }
}