.container {
    /* background-color: bisque; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: burlywood; */
}