.container {
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 234, 241);
    padding: 5vh 0;
}


.blog_card {
    width: 80vw;
    /* height: 500px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.blog_img {
    flex: 1;
}

.blog_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog_content {
    margin: 50px 0;
    flex: 1;
}

.blog_content {
    display: flex;
    justify-content: space-between;
}

/* .blog_description h1 {

} */

.blog_description h3 {
    padding: 5px 0;
}