.container {
    width: 90vw;
    min-height: 100vh;
    /* background-color: teal; */
    margin: 0 auto;
    position: relative;
}

.about_container {
    background-color: rgb(129, 208, 68);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: grid;
    /* background-color: teal; */
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 10px;
    /* grid-auto-flow: dense; */
    /* grid-template-rows: ; */

}

.image_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.75s; 
    cursor: zoom-in;
    /* margin: 5px; */
    /* background-color: blanchedalmond; */
}

.image_card:hover img{
    /* transform: scale(1.1); */
    filter: opacity(50%);
}

.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}