
.about_section {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin: 150px 5vw;
    flex-wrap: wrap;
}

.about_left {
    padding: 2rem;
}


.about_left h1{
    margin-bottom: 20px;
}

.about_left p {
    padding: 20px 0;
    line-height: 2rem;
}

.about_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_img img {
    width: 550px;
    height: 600px;
    object-fit: cover;
}